@import url('https://fonts.googleapis.com/css?family=Changa|Prata|Montserrat|Oswald&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/*background-color: black;*/
}

html {
	scroll-behavior: smooth;
}

.navbar-container {
	margin-bottom: -118px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 5%;

	background-color: black;
}

.logo {
	height: 48px;
}

.navbar li, a {
	font-family: "Changa", sans-serif;
	font-size: 16px;
	color: #f3f3f3;
	text-decoration: none;
}

.logo {
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.logo:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.navbar-links {
	list-style: none;
}

.navbar-links li {
	display: inline-block;
	padding: 0px, 20px;
	margin: 0px 50px;
}

.navbar-links li a {
	transition: all 0.3s ease 0s;
}

.navbar-links li a:hover {
	color: #ffbe6e;
}

.contact-button {
	padding: 5px 10px;

	border: solid;
	border-width: 2px;
	border-color: #f3f3f3;

	transition: all 0.3s ease 0s;
}

.contact-button:hover {
	color: #ffbe6e;
	border-color: #ffbe6e;
}

section.top-section {
	height: 100vh;
	min-height: 800px;

	background: url("../images/HL_falling2.gif");
	background-color: rgba(0, 0, 0, 0.8);
	background-blend-mode: darken;
	background-size: cover;
}

.top-section div {
	padding: 35vh 10vw;
}

.top-section h1 {
	font-family: "Prata", serif;
	font-size: 90px;
	color: #ffbe6e;
}

.top-section h2 {
	font-family: "Prata", serif;
	font-size: 48px;
	color: #f3f3f3;
}

.top-section h3 {
	display: inline-block;
	padding: 10px 20px;
	margin-top: 20px;

	font-family: "Changa", serif;
	font-size: 24px;
	color: #f3f3f3;

	border: solid;
	border-width: 2px;
	border-color: #f3f3f3;
	
	transition: all 0.3s ease 0s;
}

.top-section h3:hover {
	color: #ffbe6e;
	border-color: #ffbe6e;
}

@media(min-width:1024px) {
	section.about-me {
		background-color: #f3f3f3;
		padding-bottom: 50px;
	}

	.about-me-container {
		height: 100%;
		width: 100%;
		padding: 8% 15%;
		display: flex;
		justify-content: space-between;
	
	}

	#about-me-section .selfie {
		image-orientation: from-image;
		height: 70vh;
	}

	.about-me-text {
		margin-left: 80px;
	}
}

@media(max-width:1024px) {
	section.about-me {
		background-color: #f3f3f3;
		padding: 60px;
	}

	#about-me-section .selfie {
		display: block;
		margin-bottom: 60px;
		margin-left: auto;
		margin-right: auto;
		image-orientation: from-image;
		height: 70vh;
	}

	.about-me-text {

	}
}

.about-me-text h3 {
	margin-bottom: 20px;

	font-family: "Prata", serif;
	font-size: 48px;
	color: black;
}

.about-me-text p {
	margin-bottom: 50px;

	font-family: "Montserrat", sans-serif;
	font-weight: 100;
	font-size: 24px;
	color: black;
}

.about-me-text b {
	color: #ffa333;
}

.download-resume-button {
	padding: 5px 10px;
	margin-top: 80px;
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	color: black;

	border: solid;
	border-color: black;

	transition: all 0.3s ease 0s;
}

.download-resume-button:hover {
	color: #ffa333;
	border-color: black;
	background-color: black;
}

section.portfolio {
	position: relative;
	min-height: 800px;
	padding-bottom: 150px;

	text-align: center;

	background: url("../images/code_bg2.png");
	background-color: rgba(0, 0, 0, 0.7);
	background-blend-mode: darken;
	background-size: cover;

	box-shadow: 0px 5px 20px 10px #111;
}

.portfolio-section-heading {
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.portfolio h2 {
	padding: 80px 0px 30px 0px;

	font-family: "Prata", serif;
	font-size: 64px;
	color: #ffbe6e;
}

.portfolio-text {
	display: flex;
}

.portfolio-text-spacer {
	flex: 1;
}

.portfolio-section-heading p {
	flex: 3;

	font-family: "Montserrat", sans-serif;
	font-weight: 100;
	font-size: 20px;
	color: #f3f3f3;
}

@media(min-width: 1200px) {
	.project-container {
		margin-top: 50px auto 500px auto;
		padding: 50px 100px;
		display: inline-flex;
		/*justify-content: center;
		align-items: center;*/
	}

	.project-box {
		margin: 0px 30px;
		height: 700px;
		width: 300px;
	}
}

@media(max-width: 1200px) {
	.project-box {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}
}

.project-box {
	height: 700px;
	width: 300px;

	background-color: #e8e2da;
}

.project-1-visual {
	height:	70%;
	width: 100%;
	position: relative;

	background: url("../images/iFollow_demo.gif");
	background-size: cover;
}

.project-button {
	opacity: 0;

	padding-top: 50%;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 10;

	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);

	transition: all 0.3s ease 0s;
}

.project-1-still-container {
	position: relative;
	width: 100%;
	height: 100%;

	transition: all 0.3s ease 0s;
}

.project-1-still {
	height: 100%;
	width: 100%;
}

.project-button:hover {
	opacity: 100;
}

.project-1-visual:hover .project-1-still-container {
	opacity: 0;
}

.project-2-visual {
	height:	70%;
	width: 100%;
	position: relative;

	background: url("../images/shoot_things_demo.gif");
	background-position: center;
	background-size: cover;
}

.project-2-still-container {
	position: relative;
	width: 100%;
	height: 100%;

	transition: all 0.3s ease 0s;
}

.project-2-still {
	height: 100%;
	width: 100%;

	object-fit: cover;
}

.project-2-visual:hover .project-2-still-container {
	opacity: 0;
}

.project-3-visual {
	height:	70%;
	width: 100%;
	position: relative;

	background: url("../images/spectrogram.png");
	background-size: cover;
}

.project-3-still-container {
	position: relative;
	width: 100%;
	height: 100%;

	transition: all 0.3s ease 0s;
}

.project-3-still {
	height: 100%;
	width: 100%;

	object-fit: cover;
}

.project-3-visual:hover .project-3-still-container {
	opacity: 0;
}

.project-button h3 {
	margin-left: auto;
	margin-right: auto;
	padding: 20px 40px;

	font-family: "Oswald", sans-serif;
	font-size: 36px;
	color: #f3f3f3;
}

.project-button a {
	margin-left: auto;
	margin-right: auto;
	padding: 10px 20px;

	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	color: #f3f3f3;

	border: solid;
	border-color: #f3f3f3;
	border-width: 1px;

	transition: all 0.3s ease 0s;
}

.project-button a:hover {
	color: black;
	background-color: #f3f3f3;
}

.project-description {
	padding: 20px;
}

.project-description h3 {
	font-family: "Montserrat", sans-serif;
	font-size: 36px;
	color: black;
}

.project-description h3 small {
	color: #888;
}

.project-description p {
	margin-top: 10px;

	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	color: black;
}

.github-link {
	display: block;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.github-link a {
	padding: 20px 40px;

	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	color: #f3f3f3;

	border: solid;
	border-color: #f3f3f3;
	border-width: 1px;

	transition: all 0.3s ease 0s;
}

.github-link a:hover {
	color: black;
	border-color: #ffbe6e;
	background-color: #ffbe6e;
}

.contact {
	padding: 100px;
	z-index: -1;

	text-align: center;

	background-color: #333;
}

.contact h1 {
	margin-bottom: 50px;

	font-family: "Prata", serif;
	font-size: 48px;
	color: #f3f3f3;
}

.contact p {
	margin: 30px;
	flex: 10;

	font-family: "Montserrat", sans-serif;
	font-size: 22px;
	color: #f3f3f3;
}

.contact h3 {
	margin: 50px;

	font-family: "Prata", sans-serif;
	font-size: 28px;
	color: #f3f3f3;
}

.social-media-links {
	display: flex;
	align-content: center;
	justify-content: center;
}

.social-media-icon {
	width: 80px;
	/*height: 80px;*/
	margin: 25px;

	transition: all 0.3s ease 0s;
}

#linkedin-icon {
	filter: invert(100);
}

#linkedin-icon:hover {
	opacity: 0.2;
}

#facebook-icon {
	filter: brightness(100);
}

#facebook-icon:hover {
	opacity: 0.2;
}

#instagram-icon {
	filter: invert(100);
}

#instagram-icon:hover {
	opacity: 0.2;
}

#discord-icon {
	filter: invert(100) brightness(100);
	border-radius: 50%;
}

#discord-icon:hover {
	opacity: 0.2;
}

.discord-tooltip .discord-id {
	display:none;
  visibility: hidden;

  background-color: #111;
  color: #f3f3f3;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: relative;
  z-index: 20;
  bottom: 165px;
  left: 30px;
  margin-left: -60px;
}

.discord-tooltip .discord-id::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.discord-tooltip:hover .discord-id {
	display: block;
  visibility: visible;
}